<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>weather</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- <img src="img/weather.jpg.jpg" alt="bg image" srcset="bg image"> -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <nav class="navbar navbar-expand-lg ">
                    <a class="navbar-brand" href="#">Weather App</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/weather">weather</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/About">About</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    </nav>
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <p></p>

                        {{!-- <p>welcome to weather app</p> --}}
                        <!-- right side div  -->
                        <div class="col-md-6 col-12 main_header_right">
                            <figure>
                                <img src="img/weather.jpg.jpg" alt="Akshay" class="img-fluid" title="Akshay img">
                            </figure>
                            <a href="/weather"><button>About me</button></a>
                            <p></p>
                            <p></p>
                            <h1>I am a <span class="text_clr">Mearn stack developer</span> Youtuber and a freelancer
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lorem">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus accusantium ut sed
                    aliquid deleniti laboriosam, corrupti alias corporis saepe fuga expedita molestias,
                    commodi assumenda sit debitis. Voluptates vel odit porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusantium repudiandae nemo
                    distinctio quibusdam nam vitae reiciendis a obcaecati sed ducimus, autem qui sint eius. Illo eveniet
                    rerum numquam praesentium consequatur quasi, fugit dolorem, debitis, est eaque laborum. Consectetur
                    architecto, aliquid totam ut adipisci voluptatem veritatis debitis voluptatum illum delectus! Rerum
                    molestias placeat aliquid neque cumque? Quaerat esse dignissimos ullam ducimus fuga consequatur
                    saepe ut est sed aperiam adipisci similique illo dolorum amet aspernatur exercitationem, neque culpa
                    impedit numquam! Labore voluptas eaque, aspernatur omni</p>
                

            </div>
            <!-- footer code  -->
            <footer>
                <p>Created by Mr.Ranjit Patil 😍 </p>
                <style>
                    footer {
                        width: 100%;
                        background-color: var(--main-bg);
                        margin-top: 33rem;
                    }
                </style>
            </footer>
</body>

</html>